.blog-container{
    display: grid;
    grid-auto-rows: minmax(20vh, auto);
    grid-auto-columns: repeat(8, 1fr);
    grid-template-areas: 
    'header'
    'nav'
    'content'
    'footer'
    ;
}


header{
    display: grid;
    grid-area: header;
}


.header-wrapper{
    display: grid;
    grid-auto-rows: minmax(20vh, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "picBigHeaderLeft repeatableIconHeader repeatableIconHeader repeatableIconHeader"
    "picBigHeaderLeft headerTitle headerTitle headerTitle"
    "picBigHeaderLeft repeatableIconHeader repeatableIconHeader repeatableIconHeader"
    "picBigHeaderLeft icons icons icons";
}


h1{
    display: grid;
    grid-area: headerTitle;
}


.repeatableIconHeader{
    display: grid;
    grid-area: repeatableIconHeader;
    background-image: url(barb_wire.svg);
    background-repeat: repeat;
    width: 20px;
    height: 20px;
}

.picBigHeaderLeft{
    display: grid;
    grid-area: picBigHeaderLeft;
}


.iconClusterHeaderBottom{
    display: flex;
    grid-area: icons;
}


nav{
    background-color: hsl(150deg 30% 60%);
}


.card-container{
    background-color: hsl(250deg 30% 60%);
}


footer{
    background-color: hsl(150deg 30% 60%);
}


/* Mobile is default, desktop is special case */
@media screen and (width > 48rem) {
    .blog-container{
        grid-template-areas: 
        'header header header header header header header header'
        'nav nav content content content content content content'
        'footer footer footer footer footer footer footer footer'
        ;
    }
}