body {
    background-color: var(--main-background-color);
    display: grid;
    grid-template-rows: 20vh 50vh 20vh;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    grid-template-areas: 
    'header'
    'content'
    'footer'
    ;
}

h1 {
    color: white;
    padding-right: 0.5rem;
}

h2 {
    padding: 0 1rem 0;
}

span {
    color: white;
    padding: 0 1rem 0;
}

article {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    border: 2px solid var(--main-border-color);
    overflow: hidden;
}