:root {
    --main-border-color: hsl(90 100% 50%);
    --main-text-color: hsl(90 100% 50%);
    --main-background-color: hsl(0 0% 8%);
    --link-text-color: hsl(90 0% 100%);
    --grid-gap-card-wrapper: 0.125rem;
}
